.oldMessageContainer {
  border: 0.1rem solid blue;
  margin: 0rem 2rem;
}

.oldMessage {
  border-bottom: 0.1rem solid grey;
  display: flex;
  flex-direction: row;
}

.userImage {
  border: 0.1rem solid black;
  padding: 0.2rem;
}

.userOldMessage {
  padding: 1rem;
}

.nameTime {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
}

.createdAt {
  margin-left: 1rem;
}

.userMessageContainer {
  border: 0.1rem solid black;
  margin: 1rem 2rem;
}

.input {
  width: 100%;
  padding: 1rem;
}

.stylingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userOldMessage {
  width: 100%;
}

.messageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userReaction {
  font-size: 0.8rem;
}

.message {
  flex: 6;
}

.messageContainer:hover {
  background-color: rgba(00, 00, 00, 0.2);
}

.reactions {
  flex: 0.2;
  text-align: center;
  background-color: blue;
  margin: 0rem 0.1rem;
  /* visibility: hidden; */
}
.reactions:hover {
  background-color: cadetblue;
}

.edit {
  flex: 0.1;
}
